<h2 class="text-center">新增一篇文章</h2>

<div class="col-md-12">
	<%= simple_form_for [@group, @post] do |f| %>
		<div class="form-group">
			<%= f.input :content, html_input: { class: "form-control" }  %>
		</div>
		<div class="form-actions">
			<%= f.submit "Submit", disable_with: "Submitting...", class: "btn btn-primary" %>
		</div>	
	<% end %>
</div>